doctype html 
html
    //- for pug view: you can assign an id like this eg. header(id="header")
    head 
        meta(charset="utf-8")
        title #{title} | Work Hour Tracker 
        link(rel="stylesheet", href="/css/styles.css")
        block scripts   
            script(src="/js/common.js")
    body
        include includes/header.pug
        main#main-content 	
            block layout-content 	
        footer#footer-content 
            p &copy; Copyright Work Hour Tracker, 2025.

